/*========== COMMON CSS START ==========*/
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1440px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 40px;
    font-weight: 700;
    color: #707070;
}

h3 {
    font-size: 28px;
    font-weight: 800;
    color: #18191F;
}

p {
    font-size: 20px;
    font-weight: 500;
    line-height: 160%;
    color: #828282;
}

a {
    text-decoration: none;
}

.side-margin {
    width: 93%;
    margin: 0 auto;
    padding: 0 1%;
}

.grad {
    text-shadow: 0px 4px 10px rgba(252, 142, 73, 0.65);
    background: linear-gradient(to right, #FBA24F, #FF1E1E);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.bottom-margin {
    margin-bottom: 60px;
}

.grad-btn {
    display: inline-block;
    background: linear-gradient(to right, #FBA24F -7.64%, #FF1E1E 145.94%);
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.502);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.137);
    padding: 20px 50px;
    border-radius: 100px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    transition: all 0.2s ease;
}

.grad-btn:hover {
    transform: translateY(-1px);
    box-shadow: 0px 5px 30px 0px rgba(252, 142, 73, 0.815);
}
/*========== COMMON CSS END ==========*/


/*========== HEADER START ==========*/
header {
    box-shadow: 0 2px 15px #bbbbbb;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    
}

.logo a {
    color: #000000;
}

.logo a h1 {
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.137);
}

.header-links ul {
    display: flex;
    list-style: none;
    margin: 6px 0;
}

.header-links ul li {
    margin-left: 15px;
    position: relative;
}

.header-links ul li a {
    color: #1b1b1b;
    font-size: 1.2em;
    font-weight: 500;
    padding: 7px 20px;
    border-radius: 30px;
    transition: padding 0.2s ease-in;
}

.header-links ul li a:hover {
    background: linear-gradient(to right, #FBA24F -7.64%, #FF1E1E 145.94%);
    color: white;
    padding: 10px 20px;
    box-shadow: 0px 2px 30px 0px rgba(252, 143, 73, 0.502);
}
/*========== HEADER END ==========*/


/*========== HERO START ==========*/
.hero-container {
    display: flex;
    justify-content: space-between;
}

.hero-slogan, .hero-img {
    width: 49%;
}

.hero-img {
    display: flex;
    justify-content: flex-end;
}

.hero-slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-title {
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 40px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.137);
}

.hero-slogan p {
    margin-bottom: 50px;
}

.hero-img img {
    width: 93%;
}
/*========== HERO END ==========*/


/*========== ABOUT US START ==========*/
.about-us {
    background-image: url(../img/shapes/7.png);
    background-repeat: no-repeat;
}

.about-us-container {
    display: flex;
}

.about-us-img, .about-us-title {
    max-width: 49%;
    width: 100%;
}

.about-us-img {
    display: flex;
    justify-content: center;
}

.about-us-img img {
    width: 60%;
}

.about-us-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-us-title h2 {
    margin-bottom: 30px;
}
.about-us-title p {
    margin-bottom: 70px;
}
/*========== ABOUT US END ==========*/


/*========== RECIPIES START ==========*/
.recipie-title {
    margin: 0 auto;
    text-align: center;
    max-width: 70%;
    width: 100%;
}

.recipie-title h2 {
    margin-bottom: 30px;
}

.recipie-title p {
    margin-bottom: 40px;
}

.recipie-showcase {
    display: flex;
    justify-content: space-between;
}

.recipie-card {
    max-width: 30%;
    padding: 18px;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

.recipie-card:nth-child(2) {
    margin: 0 30px;
}

.recipie-card:hover {
    box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

.recipie-card img {
    max-width: 100%;
    margin-bottom: 30px;
    border-radius: 20px;
}

.recipie-card h3 {
    margin-bottom: 8px;
}

.recipie-card p {
    margin-bottom: 10px;
}
/*========== RECIPIES END ==========*/


/*========== SIGN UP START ==========*/
.sign-up {
    background-image: url(../img/shapes/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: left top;
    background-size: cover;
}

.sign-up-wrapper {
    display: flex;
    justify-content: space-between;
}

.sign-up-form, .sign-up-img {
    max-width: 49%;
    width: 100%;
}

.sign-up-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 38px 0;
}

.sign-up-form form {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.sign-up-form h2 {
    margin-bottom: 20px;
}

.sign-up-form form input {
    width: 100%;
}

.sign-up-form label p{
    padding-left: 10px;
}

.sign-up-form .inp {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 18px;
    color: #353535;
    background: transparent;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.25),
                inset -1px -1px 3px rgba(0, 0, 0, 0.2);
}

.sign-up-form .inp::placeholder {
    color: #aaa;
    font-weight: 500;
}

.sign-up-form .submit-btn {
    padding: 15px 20px;
    border: none;
    outline: none;
    border-radius: 20px;
    cursor: pointer;
    background-image: linear-gradient(to right, #DA222C, tomato);
    box-shadow: 0px 2px 30px 0px rgba(235, 65, 56, 0.541);
}

.sign-up-form .submit-btn:hover {
    box-shadow: 0px 2px 30px 0px rgba(235, 65, 56, 0.877);
}

.sign-up-img img {
    height: 100%;
}
/*========== SIGN UP END ==========*/